body {
    background-color: white;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.top-bar {
    display: flex;
    justify-content: center;
    /* background-color: gray; */
    border-bottom: 1px solid rgb(238, 238, 238);
    width: 100%;
    height: 65px;
}

.top-bar-contanier, .top-menu-overview, .project-overview, .project-upload, .menu, .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar-contanier {
    width: 1032px;
    height: 65px;
    justify-content: space-between;
}

.top-left, .top-right, .login-profile {
    display: flex;
}

.menu {
    margin-left: 2px;
    margin-right: 10px;
}

.logo {
    margin-right: 32px;
}


.project-overview, .project-upload {
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 14px;
}

.top-login {
    font-weight: 500;
    font-size: 14px;
    margin-right: 10px;
}

.project-overview {
    margin-right: 29px;
}

.top-search-button, .top-login, .top-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}

.top-search-button {
    margin-top: 8px;
    margin-right: 30px;
}

.top-profile {
    margin-right: 10px;
}

.top-menu-overview :hover {
    color: rgb(140, 140, 140);
    cursor: pointer;
}

.project-upload:hover {
    color: rgb(140, 140, 140);
    cursor: pointer;
}

.top-search-button:hover {
    cursor: pointer;
}

.login-profile:hover {
    cursor: pointer;
}

.logo :hover {
    cursor: pointer;
}

a {
    color: gray;
}
